<header class="conversation-header content-header">
  <h1>Messages</h1>
</header>

<nav class="content-nav messages-nav">
  <ul class="content-nav-list group">
    <li><a href='#'>Conversation</a></li>
  </ul>
</nav>

<section class="section-content conversation-content"></section>
  <div class="user-banner">
    <a class="group" href="#users/<%= user.id %>">
      <figure class="user-banner-photo">
        <img src="<%= user.escape('profile_photo') %>">
      </figure>
      <div class="match-summary">
        <h3><%= user.escape('username') %></h3>
        <div><span><%= user.escape('breed_name') %>&#8226<%= user.escape('country_name') %></span></div>
      </div>
    </a>
  </div>

  <div class="conversation">
    <ul class="conversation-list">
      <% messages.each( function(message) { %>
        <li class="message group">
          <figure class="user-banner-photo">
            <% if(user.id === parseInt(message.escape("from"))) { %>
              <img src="<%= user.escape('profile_photo') %>">
            <% } else { %>
              <img src="<%= currentUser.escape('profile_photo') %>">
            <% } %>
          </figure>
          <div class="message-body">
            <p><%= message.escape('body') %></p>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>

  <div class="conversation">
    <figure class="user-banner-photo">
      <img src="<%= currentUser.escape('profile_photo') %>">
    </figure>
    <div class="message-body new-message">
      <textarea placeholder="Write them a lovely message..."></textarea>
      <button id="send-message" class="btn btn-send">Send</button>
    </div>
  </div>

</section>
