
<header class="profile-header content-header">

  <div class="profile-basic-group group">

    <div class="profile-picture">

    <a href="" class="js-show-modal" data-modal="profile-picture-modal">
      <figure class="profile-picture">
        <img src="<%= user.escape('profile_photo')%>">
      </figure>
			<div class="upload-photo">
				<p>Add Photo</p>
			</div>
    </a>
  </div>


    <div class="profile-basic-info">
      <a href="javascript.void(0)" class="js-show-modal" data-modal="basic-info-modal">
        <h1><%= user.escape('username') %></h1>
        <ul class="profile-basic-info-list group">
          <li><%= user.escape('breed_name') %></li>
          <li>&#8226</li>
          <li><%= user.escape('gender_name') %></li>
          <li>&#8226</li>
          <li><%= user.escape('country_name') %></li> <!--Change to geocoded location -->
        </ul>
      </a>
    </div>

    <div class="message-button">
		<% if (user.id !== currentUser.id) { %>
    <div class="btn-new-message" data-modal="new-message-modal">
      Send Message
    </div>
		<% } %>
  </div>
  </div>

</header>

<nav class="content-nav profile-nav">
  <ul class="content-nav-list group">
    <li><a class="selected">About</a></li>
  </ul>
</nav>

<section class="profile-content section-content group">

  <section class="profile-content-left">

    <section class="detailed-info">

			<h3>About Me</h3>
      <div class="user-summary">
        <a href="#" class="js-show-input" data-input="user-summary">
          <h4>My Self Summary</h4>
          <p id="user-summary"><%= user.escape('summary') %></p>
          <form id="user-summary" class="inactive" action="#" method="post">
            <textarea name="user[summary]" rows="4" cols="40"><%= user.escape('summary') %></textarea>
          </form>
        </a>
        <button id="user-summary"
                class="save inactive save-user-info"
                data-input="user-summary">Save</button>
        <button id="user-summary"
                class="modal-btn cancel inactive js-hide-input"
                data-input="user-summary">Cancel</button>
      </div>


      <div class="user-age-size group">
        <div class="user-age">
          <a href="#" class="js-show-input" data-input="user-age">
            <h4>Age</h4>
            <p id="user-age"><%= user.escape('age') %></p>
            <form id="user-age" class="user-info inactive" action="#" method="post">
              <input type="text" name="user[age]" value="<%= user.escape('age') %>">
            </form>
          </a>
          <button id="user-age"
                  class="save inactive save-user-info"
                  data-input="user-age">Save</button>
          <button id="user-age"
                  class="cancel inactive js-hide-input"
                  data-input="user-age">Cancel</button>
        </div>

        <div class="user-size">
          <a href="#" class="js-show-input group" data-input="user-size">
            <div class="user-size-info">
              <h4>Size</h4>
              <p id="user-size"><%= user.escape('size_name') %></p>
            </div>
            <figure class="current-size <%= user.escape('size_name') %>">
              <div class="Tiny">Tiny<div>
            </figure>
          </a>
          <form id="user-size" class="user-info inactive" action="#" method="post">
            <input id="user-size-input" name="user[size]" type="hidden">
            <ul class="size-list group">
              <li class="choose-size" data-value="1" data-size="Tiny" data-input="user-size">
                <div class="Tiny" data-value="1">Tiny</div>
              </li>
              <li class="choose-size" data-value="2" data-size="Small" data-input="user-size">
                <div class="Small" data-value="2">Small</div>
              </li>
              <li class="choose-size" data-value="3" data-size="Medium" data-input="user-size">
                <div class="Medium" data-value="3">Medium</div>
              </li>
              <li class="choose-size" data-value="4" data-size="Large" data-input="user-size">
              <div class="Large" data-value="4">Large</div>
              </li>
            </ul>
          </form>
        </div>

      </div>

      <div class="user-play_style-energy_level group">
        <div class="user-play_style">
          <a href="#" class="js-show-input" data-input="user-play_style">
            <h4>Play Style</h4>
            <p id="user-play_style"><%= user.escape('play_style_name') %></p>
          </a>
          <form id="user-play_style" class="inactive" action="#" method="post">
            <select name="user[play_style]" id="user-play_style">
              <option value="1"
              <% if ( "Chaser" === user.escape('play_style_name')) { %>
              selected="selected"
              <% } %>
              >Chaser</option>
              <option value="2"
              <% if ( "Tugger" === user.escape('play_style_name')) { %>
              selected="selected"
              <% } %>
              >Tugger</option>
              <option value="3"
              <% if ( "Wrestler" === user.escape('play_style_name')) { %>
              selected="selected"
              <% } %>
              >Wrestler</option>
              <option value="4"
              <% if ( "Tackler" === user.escape('play_style_name')) { %>
              selected="selected"
              <% } %>
              >Tackler</option>
              <option value="5"
              <% if ( "Not Sure" === user.escape('play_style_name')) { %>
              selected="selected"
              <% } %>
              >Not Sure</option>
            </select>
          </form>
            <button id="user-play_style"
                    class="save inactive save-user-info"
                    data-input="user-play_style">Save</button>
            <button id="user-play_style"
                    class="cancel inactive js-hide-input"
                    data-input="user-play_style">Cancel</button>

        </div>
        <div class="user-energy_level">
          <a href="#" class="js-show-input" data-input="user-energy_level">
            <h4>Energy Level</h4>
            <p id="user-energy_level"><%= user.escape('energy_level_name') %></p>
          </a>
          <form id="user-energy_level" class="inactive" action="#" method="post">
            <select name="user[energy_level]" id="user-energy_level">
                     <option value="1"
                     <% if ( "Super Chill" === user.escape('energy_level_name')) { %>
                     selected="selected"
                     <% } %>
                     >Super Chill</option>
                     <option value="2"
                     <% if ( "Tame" === user.escape('energy_level_name')) { %>
                     selected="selected"
                     <% } %>
                     >Tame</option>
                     <option value="3"
                     <% if ( "Likes to party" === user.escape('energy_level_name')) { %>
                     selected="selected"
                     <% } %>
                     >Likes to Party</option>
                     <option value="4"
                     <% if ( "Wild Beast" === user.escape('energy_level_name')) { %>
                     selected="selected"
                     <% } %>
                     >Wild Beast</option>
                   </select>
          </form>
			      <button id="user-energy_level"
                    class="save inactive save-user-info"
                    data-input="user-energy_level">Save</button>
            <button id="user-energy_level"
                    class="cancel inactive js-hide-input"
                    data-input="user-energy_level">Cancel</button>

        </div>
      </div>

    </section>
  </section>

  <section class="profile-content-right">

    <section class="looking-for">
      <a href="javascript.void(0)" class="js-show-modal" data-modal="looking-for-modal">
        <h3>Looking For</h3>
        <ul>

          <li>
  					<span>Info: &nbsp</span>
            <!-- size -->
            <% user.preferences().forEach( function(preference) { %>
              <% if (preference.get('preference_attribute') === "size") { %>
                <%= user.sizes[preference.get('value')] %>,
              <% } %>
  			    <% }); %>
  				</li>
  				<li>
  					<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
  					<% user.preferences().forEach(function(preference) { %>
  						<% if (preference.get('preference_attribute') === "breed") { %>
                <%= user.breeds[preference.get('value')] %>s,
              <% } %>
  					<% }); %>
  				</li>
          <li>
  					<span>For: &nbsp</span>
            <% user.preferences().forEach(function(preference) { %>
              <% if (preference.get('preference_attribute') === "play") { %>
                <%= user.play[preference.get('value')] %>
              <% } %>
            <% }); %>
  				</li>
          <li>
  						<!-- Implement near me -->
  				</li>
        </ul>
      </a>
    </section>

    <section class="owner-info">
      <a href="javascript.void(0)" class="group js-show-modal" data-modal="owner-info-modal">
        <h3>My Person</h3>
        <figure class="owner-profile-picture">
          <img src="<%= user.escape('owner_profile_photo')%>">
        </figure>
        <ul class="group owner-info-list">
          <li><%= user.escape('owner_name') %></li>
          <li><%= user.escape('owner_age') %>&#8226<%= user.escape('owner_gender_name') %></li>
        </ul>
      </a>
    </section>

    <section id="send-message-modal" class="modal message-modal">
      <article class="message-modal-content">
        <span class="modal-close js-hide-modal"
              data-modal="send-message-modal">&times;</span>

        <figure class="user-banner-photo">
          <img src="<%= user.escape('profile_photo') %>">
        </figure>

        <div class="match-summary">
          <h3><%= user.escape('username') %></h3>
          <div><span><%= user.escape('breed_name') %>&#8226<%= user.escape('country_name') %></span></div>
        </div>

        <div class="new-message-modal">
          <textarea name="message[body]" placeholder="Write them a lovely message..."></textarea>
          <button id="send-message"
                  class="btn btn-send js-hide-modal"
                  data-modal="send-message-modal">Send</button>
        </div>
      </article>
    </section>

    <section id="profile-picture-modal" class="modal">
      <article class="modal-content">
        <span class="modal-close js-hide-modal"
              data-modal="profile-picture-modal">&times;</span>

        <h1>Profile Photo</h1>

        <input type="file" id="profile-picture" class="photo-upload">
        <button id="save-profile-picture"
                class="modal-btn save"
                data-modal="profile-picture">Save</button>
        <button id="profile-picture"
                class="modal-btn cancel js-hide-modal"
                data-modal="profile-picture-modal">Cancel</button>

      </article>
          <div class="modal-screen js-hide-modal"></div>
    </section>

		<section id="basic-info-modal" class="modal">
			<article class="modal-content">
				<span class="modal-close js-hide-modal"
              data-modal="basic-info-modal">&times;</span>
				<h1>Basic Info</h1>
				<form class="basic-info-form">
	        <ul class="basic-info-list">
	          <li class="breed">
	            <label for="breed">Breed</label>
	            <select id="breed" name="user[breed]">
	              <% for(var prop in user.breeds) { %>
	                <option value="<%= prop %>"
										<% if (user.breeds[prop] === user.escape('breed_name')) { %>
										selected="selected"
										<% } %>
										><%= user.breeds[prop] %></option>
	              <% }; %>
	            </select>
	          </li>
	          <li class="gender">
	            <label for="gender">Gender</label>
	            <select name="user[gender]" id="gender">
	              <option value="1"
								<% if ( "Male" === user.escape('gender_name')) { %>
								selected="selected"
								<% } %>
								>Male</option>
	              <option value="2"
								<% if ( "Female" === user.escape('gender_name')) { %>
								selected="selected"
								<% } %>
								>Female</option>
	            </select>
	          </li>
	          <li class="zip">
	            <label for="zip">Zip Code</label>
	            <input type="text"
	                   id="zip"
	                   name="user[zip]"
	                   value="<%= user.escape('zip') %>">
	          </li>
	          <li class="country">
	            <label for="country">Country</label>
	            <select id="country" name="user[country]">
								<% for (var prop in user.countries) { %>
									<option value="<%= prop %>"
									<% if(user.countries[prop] === user.escape('country_name')) { %>
									selected="selected"
									<% } %>
									><%= user.countries[prop] %></option>
								<% } %>
	            </select>
	          </li>
	        </ul>
					<button type="submit"
                 class="modal-btn save">
                 Save</button>
					<button class="modal-btn cancel js-hide-modal"
                  data-modal="basic-info-modal">Cancel</button>
				</form>
			</article>
			<div class="modal-screen js-hide-modal"></div>
		</section>

		<section id="looking-for-modal" class="modal">
			<article class="modal-content">
				<span class="modal-close js-hide-modal"
              data-modal="looking-for-modal">&times;</span>
				<h1>Looking For</h1>
				<form class="looking-for-form">
	        <ul class="looking-for-list">
            <li class="size">
              <label for="size">Size</label>
              <br>
              <input type="checkbox" name="preference[Tiny]" value="size"<% var keyVal = parseInt(getKeyByValue(user.sizes, 'Tiny')) %>
                <% var preference = user.preferences().where({preference_attribute: "size", value: keyVal}) %>
                <% if (preference.length === 1) { %>
                  checked="true">Tiny
                <% } else { %>
                  >Tiny
                <% } %>
                <br>
              <input type="checkbox" name="preference[Small]" value="size"<% var keyVal = parseInt(getKeyByValue(user.sizes, 'Small')) %>
                <% var preference = user.preferences().where({preference_attribute: "size", value: keyVal}) %>
                <% if (preference.length === 1) { %>
                  checked="true">Small
                <% } else { %>
                  >Small
                <% } %>
                <br>
              <input type="checkbox" name="preference[Medium]" value="size"<% var keyVal = parseInt(getKeyByValue(user.sizes, 'Medium')) %>
                <% var preference = user.preferences().where({preference_attribute: "size", value: keyVal}) %>
                <% if (preference.length === 1) { %>
                  checked="true">Medium
                <% } else { %>
                  >Medium
                <% } %>
                <br>
              <input type="checkbox" name="preference[Large]" value="size"<% var keyVal = parseInt(getKeyByValue(user.sizes, 'Large')) %>
                <% var preference = user.preferences().where({preference_attribute: "size", value: keyVal}) %>
                <% if (preference.length === 1) { %>
                  checked="true">Large
                <% } else { %>
                  >Large
                <% } %>
                <br>
            </li>
            <li class="gender">
              <label for="gender">Gender</label>
              <br>
              <input type="checkbox" name="preference[Male]" value="gender"<% var keyVal = parseInt(getKeyByValue(user.genders, 'Male')) %>
                <% var preference = user.preferences().where({preference_attribute: "gender", value: keyVal}) %>
                <% if (preference.length === 1) { %>
                  checked="true">Male
                <% } else { %>
                  >Male
                <% } %>
                <br>
              <input type="checkbox" name="preference[Female]" value="gender"<% var keyVal = parseInt(getKeyByValue(user.genders, 'Female')) %>
                <% var preference = user.preferences().where({preference_attribute: "gender", value: keyVal}) %>
                <% if (preference.length === 1) { %>
                  checked="true">Female
                <% } else { %>
                  >Female
                <% } %>
            </li>

            <li class="looking-for-breed">
              <br>
              <br>
              <label for="looking-for-breed">Breed</label>
              <select id="looking-for-breed" name="preference[breed]">
                <% for(var prop in user.breeds) { %>
                  <option value="<%= prop %>"
                    <% if (user.preferences().where({preference_attribute: "breed", value: parseInt(prop)}).length === 1) { %>
                    selected="selected"
                    <% } %>
                    ><%= user.breeds[prop] %></option>
                <% }; %>
              </select>
            </li>

            <li class="play">
              <label for="play">For</label>
              <br>
              <input type="checkbox" name="preference[Friendship]" value="play"<% var keyVal = parseInt(getKeyByValue(user.play, 'Friendship')) %>
                <% var preference = user.preferences().where({preference_attribute: "play", value: keyVal}) %>
                <% if (preference.length === 1) { %>
                  checked="true">Friendship
                <% } else { %>
                  >Friendship
                <% } %>
                <br>
              <input type="checkbox" name="preference[Playmate]" value="play"<% var keyVal = parseInt(getKeyByValue(user.play, 'Playmate')) %>
                <% var preference = user.preferences().where({preference_attribute: "play", value: keyVal}) %>
                <% if (preference.length === 1) { %>
                  checked="true">Playmate
                <% } else { %>
                  >Playmate
                <% } %>
                <br>
            </li>
	        </ul>
					<button type="submit"
                 class="modal-btn save"
                 data-modal="looking-for-modal">Save</button>
					<button class="modal-btn cancel js-hide-modal"
                  data-modal="looking-for-modal">Cancel</button>
				</form>
			</article>
			<div class="modal-screen js-hide-modal"></div>
		</section>

    <section id="owner-info-modal" class="modal">
      <article class="modal-content">
        <span class="modal-close js-hide-modal"
              data-modal="owner-info-modal">&times;</span>
        <h1>Owner Info</h1>

        <form class="owner-info-form">
          <figure class="owner-profile-picture owner-profile-picture-form">
            <img src="<%= user.escape('owner_profile_photo') %>">
          </figure>
          <ul class="owner-info-list-form">
            <li class="owner-name">
              <label for="owner-profile-picture">Change Photo</label>
              <input type="file" id="owner-profile-picture" class="owner-photo-upload">
              <br>
              <label for="owner-name">Name</label>
              <input type="text"
                     id="owner-name"
                     name="user[owner_name]"
                     value="<%= user.escape('owner_name') %>">
            </li>
            <li class="owner-gender">
              <label for="owner-gender">Gender</label>
              <select name="user[owner_gender]" id="owner-gender">
                <option value="1"
                  <% if ( "Male" === user.escape('owner_gender_name')) { %>
                  selected="selected"
                  <% } %>
                  >Male</option>
                <option value="2"
                  <% if ( "Female" === user.escape('owner_gender_name')) { %>
                  selected="selected"
                  <% } %>
                  >Female</option>
              </select>
            </li>
            <li class="owner-age">
              <label for="owner-age">Age</label>
              <input type="text"
                     id="owner-age"
                     name="user[owner_age]"
                     value="<%= user.escape('owner_age') %>">
            </li>
          </ul>
          <button type="submit"
                 class="modal-btn save"
                 data-modal="owner-info-modal">Save</button>
          <button class="modal-btn cancel js-hide-modal"
                  data-modal="owner-info-modal">Cancel</button>
        </form>
      </article>
      <div class="modal-screen js-hide-modal"></div>
    </section>

  </section>

</section>
