
<header class="profile-header content-header">

  <div class="profile-basic-group group">
		<a href="javascript.void(0)" class="js-show-modal" data-modal="basic-info-modal">
    <figure class="profile-picture">
      <img src="../../assets/images/puppy.jpg">
		</figure>
    <div class="profile-basic-info">
      <h1><%= user.escape('username') %></h1>
      <ul class="profile-basic-info-list group">
        <li><%= user.escape('breed_name') %></li>
        <li>&#8226</li>
        <li><%= user.escape('gender_name') %></li>
        <li>&#8226</li>
        <li><%= user.escape('country_name') %></li> <!--Change to geocoded location -->
      </ul>
    </div>
		</a>
  </div>
  <!-- < if user != current_user %> -->
  <div>
		Link to Send Message
		<!-- link_to "Send Message", new_user_message_url(@user) %> -->
  </div>
  <!-- < end %> -->
</header>

<nav class="content-nav profile-nav">
  <ul class="content-nav-list group">
    <li><a href='javascript.void(0)'>About</a></li>
    <li><a href='javascript.void(0)'>Photos</a></li>
  </ul>
</nav>

<section class="profile-content section-content group">

  <section class="profile-content-left">

    <section class="detailed-info">

			<h3>About Me</h3>
      <div class="user-summary">
        <a href="#" class="js-show-input" data-input="user-summary">
          <h4>My Self Summary</h4>
          <p id="user-summary"><%= user.escape('summary') %></p>
          <form id="user-summary" class="inactive" action="#" method="post">
            <textarea name="" rows="4" cols="40"><%= user.escape('summary') %></textarea>

          </form>
        </a>
        <button id="save-user-summary"
                class="save inactive user-summary"
                data-input="user-summary">Save</button>
        <button class="modal-btn cancel inactive user-summary js-hide-input"
                data-input="user-summary">Cancel</button>
      </div>


      <div class="user-age-size group">
        <div class="user-age">
          <a href="#" class="js-show-input" data-input="user-age">
            <h4>Age</h4>
            <p id="user-age"><%= user.escape('age') %></p>
            <form id="user-age" class="inactive" action="#" method="post">
              <input type="text" name="" value="<%= user.escape('age') %>">

            </form>
          </a>
          <button id="save-user-age"
                  class="save inactive user-age"
                  data-input="user-age">Save</button>
          <button class="modal-btn cancel inactive user-age js-hide-input"
                  data-input="user-age">Cancel</button>
        </div>

        <div class="user-size">
          <a href="#" class="js-show-input" data-input="user-size">
            <h4>Size</h4>
            <p id="user-size"><%= user.escape('size_name') %></p>
          </a>
            <form id="user-size" class="inactive" action="#" method="post">
              <input type="text" name="" value="<%= user.escape('size_name') %>">
              <button id="save-user-size"
                      class="save inactive user-size"
                      data-input="user-size">Save</button>
              <button class="modal-btn cancel inactive user-size js-hide-input"
                      data-input="user-size">Cancel</button>
            </form>
        </div>

      </div>

      <div class="user-play_style-energy_level group">
        <div class="user-play_style">
          <a href="#" class="js-show-input" data-input="user-play_style">
            <h4>Play Style</h4>
            <p id="user-play_style"><%= user.escape('play_style_name') %></p>
          </a>
          <form id="user-play_style" class="inactive" action="#" method="post">
            <input type="text" name="" value="<%= user.escape('play_style_name') %>">
            <button id="save-user-play_style"
                    class="save inactive user-play_style"
                    data-input="user-play_style">Save</button>
            <button class="modal-btn cancel inactive user-play_style js-hide-input"
                    data-input="user-play_style">Cancel</button>
          </form>
        </div>
        <div class="user-energy_level">
          <a href="#" class="js-show-input" data-input="user-energy_level">
            <h4>Energy Level</h4>
            <p id="user-energy_level"><%= user.escape('energy_level_name') %></p>
          </a>
          <form id="user-energy_level" class="inactive" action="#" method="post">
            <input type="text" name="" value="<%= user.escape('energy_level_name') %>">
            <button id="save-user-energy_level"
                    class="save inactive user-energy_level"
                    data-input="user-energy_level">Save</button>
            <button class="modal-btn cancel inactive user-energy_level js-hide-input"
                    data-input="user-energy_level">Cancel</button>
          </form>
        </div>
      </div>

    </section>
  </section>

  <section class="profile-content-right">

    <section class="looking-for">
      <a href="javascript.void(0)" class="js-show-modal" data-modal="looking-for-modal">
        <h3>Looking For</h3>
        <ul>

          <li>
  					<span>Info: &nbsp</span>
            <!-- size -->
            <% user.preferences().forEach( function(preference) { %>
              <% if (preference.get('preference_attribute') === "size") { %>
                <%= user.sizes[preference.get('value')] %>,
              <% } %>
  			    <% }); %>
  				</li>
  				<li>
  					<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
  					<% user.preferences().forEach(function(preference) { %>
  						<% if (preference.get('preference_attribute') === "breed") { %>
                <%= user.breeds[preference.get('value')] %>s,
              <% } %>
  					<% }); %>
  				</li>
          <li>
  					<span>For: &nbsp</span>
            <% user.preferences().forEach(function(preference) { %>
              <% if (preference.get('preference_attribute') === "play") { %>
                <%= user.play[preference.get('value')] %>
              <% } %>
            <% }); %>
  				</li>
          <li>
  						<!-- Implement near me -->
  				</li>
        </ul>
      </a>
    </section>

    <section class="owner-info">
      <a href="javascript.void(0)" class="js-show-modal" data-modal="owner-info-modal">
        <h3>My Person</h3>
        <ul>
          <li>
            <figure class="owner-photo">

            </figure>
          </li>
          <li><%= user.escape('owner_name') %></li>
          <li><%= user.escape('owner_age') %></li>
          <li><%= user.escape('owner_gender_name') %></li>
        </ul>
      </a>
    </section>

		<section id="basic-info-modal" class="modal">
			<article class="modal-content">
				<span class="modal-close js-hide-modal"
              data-modal="basic-info-modal">&times;</span>

				<h1>Basic Info</h1>
				<form class="basic-info-form">
	        <ul class="basic-info-list">
	          <li class="breed">
	            <br>
	            <br>
	            <label for="breed">Breed</label>
	            <select id="breed" name="user[breed]">
	              <% for(var prop in user.breeds) { %>
	                <option value="<%= prop %>"
										<% if (user.breeds[prop] === user.escape('breed_name')) { %>
										selected="selected"
										<% } %>
										><%= user.breeds[prop] %></option>
	              <% }; %>
	            </select>
	          </li>
	          <li class="gender">
	            <label for="gender">Gender</label>
	            <select name="user[gender]" id="gender">
	              <option value="1"
								<% if ( "Male" === user.escape('gender_name')) { %>
								selected="selected"
								<% } %>
								>Male</option>
	              <option value="2"
								<% if ( "Female" === user.escape('gender_name')) { %>
								selected="selected"
								<% } %>
								>Female</option>
	            </select>
	          </li>
	          <li class="zip">
	            <br>
	            <br>
	            <label for="zip">Zip Code</label>
	            <input type="text"
	                   id="zip"
	                   name="user[zip]"
	                   value="<%= user.escape('zip') %>">
	          </li>
	          <li class="country">
	            <br>
	            <br>
	            <label for="country">Country</label>
	            <select id="country" name="user[country]">
								<% for (var prop in user.countries) { %>
									<option value="<%= prop %>"
									<% if(user.countries[prop] === user.escape('country_name')) { %>
									selected="selected"
									<% } %>
									><%= user.countries[prop] %></option>
								<% } %>
	            </select>
	          </li>
	        </ul>
					<input type="submit"
                 class="modal-btn save"
                 value="Save">
					<button class="modal-btn cancel js-hide-modal"
                  data-modal="basic-info-modal">Cancel</button>

				</form>

			</article>
			<div class="modal-screen js-hide-modal"></div>
		</section>

		<section id="looking-for-modal" class="modal">
			<article class="modal-content">
				<span class="modal-close js-hide-modal"
              data-modal="looking-for-modal">&times;</span>

				<h1>Looking For</h1>
				<form class="looking-for-form">
	        <ul class="looking-for-list">
            <li class="size">
              <label for="size">Size</label>
              <br>
              <input type="checkbox" name="preference[Tiny]" value="size"<% var keyVal = parseInt(getKeyByValue(user.sizes, 'Tiny')) %>
              <% var preference = user.preferences().where({preference_attribute: "size", value: keyVal}) %>
              <% if (preference.length === 1) { %>
                checked="true">Tiny
              <% } else { %>
                >Tiny
              <% } %>
              <br>
              <input type="checkbox" name="preference[Small]" value="size"<% var keyVal = parseInt(getKeyByValue(user.sizes, 'Small')) %>
              <% var preference = user.preferences().where({preference_attribute: "size", value: keyVal}) %>
              <% if (preference.length === 1) { %>
                checked="true">Small
              <% } else { %>
                >Small
              <% } %>
              <br>
              <input type="checkbox" name="preference[Medium]" value="size"<% var keyVal = parseInt(getKeyByValue(user.sizes, 'Medium')) %>
              <% var preference = user.preferences().where({preference_attribute: "size", value: keyVal}) %>
              <% if (preference.length === 1) { %>
                checked="true">Medium
              <% } else { %>
                >Tiny
              <% } %>
              <br>
              <input type="checkbox" name="preference[Large]" value="size"<% var keyVal = parseInt(getKeyByValue(user.sizes, 'Large')) %>
              <% var preference = user.preferences().where({preference_attribute: "size", value: keyVal}) %>
              <% if (preference.length === 1) { %>
                checked="true">Large
              <% } else { %>
                >Tiny
              <% } %>
              <br>
            </li>

            <li class="gender">
              <label for="gender">Gender</label>
              <br>
              <input type="checkbox" name="preference[Male]" value="gender"<% var keyVal = parseInt(getKeyByValue(user.genders, 'Male')) %>
              <% var preference = user.preferences().where({preference_attribute: "gender", value: keyVal}) %>
              <% if (preference.length === 1) { %>
                checked="true">Male
              <% } else { %>
                >Male
              <% } %>
              <br>
              <input type="checkbox" name="preference[Female]" value="gender"<% var keyVal = parseInt(getKeyByValue(user.genders, 'Female')) %>
              <% var preference = user.preferences().where({preference_attribute: "gender", value: keyVal}) %>
              <% if (preference.length === 1) { %>
                checked="true">Female
              <% } else { %>
                >Female
              <% } %>
            </li>

            <li class="looking-for-breed">
              <br>
              <br>
              <label for="looking-for-breed">Breed</label>
              <select id="looking-for-breed" name="preference[breed]">
                <% for(var prop in user.breeds) { %>
                  <option value="<%= prop %>"
                    <% if (user.breeds[prop] === user.preferences().where({preference_attribute: "breed", value: prop})) { %>
                    selected="selected"
                    <% } %>
                    ><%= user.breeds[prop] %></option>
                <% }; %>
              </select>
            </li>

            <li class="play">
              <label for="play">For</label>
              <br>
              <input type="checkbox" name="preference[Friendship]" value="play"<% var keyVal = parseInt(getKeyByValue(user.play, 'Friendship')) %>
              <% var preference = user.preferences().where({preference_attribute: "play", value: keyVal}) %>
              <% if (preference.length === 1) { %>
                checked="true">Friendship
              <% } else { %>
                >Friendship
              <% } %>
              <br>
              <input type="checkbox" name="preference[Playmate]" value="play"<% var keyVal = parseInt(getKeyByValue(user.play, 'Playmate')) %>
              <% var preference = user.preferences().where({preference_attribute: "play", value: keyVal}) %>
              <% if (preference.length === 1) { %>
                checked="true">Playmate
              <% } else { %>
                >Playmate
              <% } %>
              <br>

            </li>
	        </ul>
					<input type="submit"
                 class="modal-btn save"
                 value="Save"
                 data-modal="looking-for-modal">
					<button class="modal-btn cancel js-hide-modal"
                  data-modal="looking-for-modal">Cancel</button>

				</form>

			</article>
			<div class="modal-screen js-hide-modal"></div>
		</section>

    <section id="owner-info-modal" class="modal">
      <article class="modal-content">
        <span class="modal-close js-hide-modal"
              data-modal="owner-info-modal">&times;</span>

        <h1>Owner Info</h1>
        <form class="owner-info-form">
          <ul class="owner-info-list">
            <li class="owner-name">
              <br>
              <br>
              <label for="owner-name">Name</label>
              <input type="text"
                     id="owner-name"
                     name="user[owner_name]"
                     value="<%= user.escape('owner_name') %>">
            </li>
            <li class="owner-gender">
              <label for="owner-gender">Gender</label>
              <select name="user[owner_gender]" id="owner-gender">
                <option value="1"
                <% if ( "Male" === user.escape('owner_gender_name')) { %>
                selected="selected"
                <% } %>
                >Male</option>
                <option value="2"
                <% if ( "Female" === user.escape('owner_gender_name')) { %>
                selected="selected"
                <% } %>
                >Female</option>
              </select>
            </li>
            <li class="owner-age">
              <br>
              <br>
              <label for="owner-age">Age</label>
              <input type="text"
                     id="owner-age"
                     name="user[owner_age]"
                     value="<%= user.escape('owner_age') %>">
            </li>
          </ul>
          <input type="submit"
                 class="modal-btn save"
                 value="Save"
                 data-modal="owner-info-modal">
          <button class="modal-btn cancel js-hide-modal"
                  data-modal="owner-info-modal">Cancel</button>

        </form>

      </article>
      <div class="modal-screen js-hide-modal"></div>
    </section>

  </section>



</section>
