<header class="matches-header content-header">

  <h1>Matches</h1>

</header>

<nav class="content-nav matches-nav">
  <ul class="content-nav-list group">
    <li><a href='#'>Search</a></li>
    <li><a href='#'>Bookmarks</a></li>
  </ul>
</nav>

<section class="section-content matches-content">

  <ul class="matches-list">
  <% @users.each do |user| %>
    <li class="match">
      <form action="<%= user_visits_url(user) %>" method="POST">
        <%= form_auth %>
        <button type="submit">
          <figure class="match-photo">
            <%= image_tag user.profile_photo.url(:big) %>
          </figure>
          <div class="match-summary">
            <h3><%= user.username %></h3>
            <div><span><%= user.breed_name %>&#8226<%= user.country_name %></span></div>
          </div>
        </button>
      </form>
    </li>
  <% end %>

  </ul>

</section>
