<nav class="signed-in"></nav>
<main>
<section class="content">
  <nav class="sidebar">
    <ul>
      <li><%= link_to "Browse Matches", users_url %></li>
      <li><%= link_to "Messages", inbox_url %></li>
      <li><%= link_to "Visitors", visits_url %></li>
    </ul>
  </nav>
  <section class="profile">
    <div class="preview">
      <figure>

      </figure>
      <h2 class="username"><%= @user.username %></h2>
      <ul class="basic-info">
        <li class="breed"><%= @user.breed_name %></li>
        <li class="gender"><%= @user.gender_name %></li>
        <li class="location"><%= @user.zip %></li>
        <li class="country"><%= @user.country_name %></li>
      </ul>
      <% if @user != current_user %>
        <div><%= link_to "Send Message", new_user_message_url(@user) %></div>
      <% end %>
    </div>

    <nav class="content-nav"></nav>
    <div class="detailed-info">
      <h3>My Self Summary</h3>
      <p><%= @user.summary %></p>
      <h3>Age</h3>
      <p><%= @user.age %></p>
      <h3>Size</h3>
      <p><%= @user.size_name %></p>
      <h3>Play Style</h3>
      <p><%= @user.play_style_name %></p>
      <h3>Energy Level</h3>
      <p><%= @user.energy_level_name %></p>
    </div>
    <div class="looking-for">
      <h3>Looking For</h3>
        <ul>
          <li>Small males</li>
          <li>Playmates</li>
          <li>Near me</li>
        </ul>
    </div>
    <div class="owner-info">
      <h3>My Person</h3>
      <ul>
        <li>
          <figure>

          </figure>
        </li>
        <li><%= @user.owner_name %></li>
        <age><%= @user.owner_age %></age>
        <sex><%= @user.owner_gender_name %></sex>
      </ul>
    </div>

  </section>
</section>
  <% if current_user == @user %>
    <%= link_to "Edit Profile", edit_user_url(@user) %>
  <% end %>
</main>

<footer><h1>&ltFooter&gt</h1></footer>