
  <form class="sign-up-2" action="<%= new_user_url %>" method="POST">
    <%= form_auth %>

    <h1>Almost there! Just two more steps</h1>

    <ul class="sign-up-content-list sign-up-2 group">
      <!-- <li>
        <a href="/auth/facebook">LOGIN WITH FACEBOOK</a>
      </li>

      <li>
       	<h3>OR</h3>
      </li> -->

      <li class="dropdown sign-up-2">
        <!-- <label for="country">Country</label> -->
        <select id="country" name="user[country]">
          <% @user.countries.each do |country_id, country_name| %>
            <option value="<%= country_id %>" <%= "selected" if @user.country == country_id %>><%= country_name %></option>
          <% end %>
        </select>
      </li>

      <li class="form-input sign-up-2">
        <!-- <label for="zip">Zip Code</label> -->
        <input type="text"
               id="zip"
               name="user[zip]"
               value="<%= @user.zip %>"
               placeholder="Zip Code">
      </li>

      <li class="form-input sign-up 2">
        <!-- <label for="email">Email</label> -->
        <input type="text"
               id="email"
               name="user[email]"
               value="<%= @user.email %>"
               placeholder="Email">
      </li>


  		<li>
  			<button type="submit" class="continue">Continue</button>
  		</li>

    </ul>

  </form>
