<form class="sign-up-1" action="<%= new_user_url %>" method="POST">
  <%= form_auth %>

	<h1>Join the best doggy dating site on Earth.</h1>
  

	<ul class="sign-up-content-list group">
		<li>
		  <div class="prefix">
				I am a
		  </div>
		</li>

	  <li class="form-input">
			<div class="dropdown gender-dropdown">
				<!-- <p class="selected-gender">Male</p>
				<ul class="user[gender]">
					<li data-gender='1'>Male</li>
					<li data-gender='2'>Female</li>
				</ul> -->
		    <select name="user[gender]" id="gender">
		      <option value="1">Male</option>
		      <option value="2">Female</option>
		    </select>
			</div>
	  </li>

		<li>
			<div class="dropdown breed-dropdown">
				<!-- <p class='selected-breed'>Female</p>
				<ul class="user[breed]">
					<li -->
			  <select id="breed" name="user[breed]">
			    <% @user.breeds.each do |breed_id, breed_name| %>
			      <option value="<%= breed_id %>" <%= "selected" if @user.breed == breed_id %>><%= breed_name %></option>
			    <% end %>
			  </select>
			</div>
		</li>

		<li>
			<button type="submit" class="continue">Continue</button>
		</li>
	</ul>

</form>
