<!DOCTYPE html>
<html>
<head>
  <title>Doggystyle</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="carousel">
		<ul class="group focus1">
			<li class="background1"></li>
			<li class="background2"></li>
			<li class="background3"></li>
			<li class="background4"></li> 
			<li class="background5"></li>
		</ul>
	</div>
		<div class="opacity">
		  <nav class="sign-up-nav">
				<figure class="main-logo">
					<img src="<%= asset_path 'homepage/Doggystyle-logo.png' %>">
				</figure>
				<div class="sign-in-link">
			    <%= link_to "Sign In", new_session_url %>
				</div>
				<div class="sign-up-link">
					<%= link_to "Sign Up", new_user_url %>
				</div>
		  </nav>
		  <section class="sign-up-content">

		      <%= yield %>

		  </section>
		</div>

  <footer class="sign-up-footer">
    <div class="footer-wrap">
      <div class="footer-tag">
        <p>"The Google of doggy dating" - New York Times</p>
      </div>
      <ul class="footer-list group">
        <li>About</li>
        <li>Legal</li>
        <li>Copyright</li>
      </ul>
    </div>
  </footer>

	<script>
		var delay = 5000;
		var item = 1;

		var loop = function() {
			item++;
			if (item === 6) {
				item = 1;
				$('.carousel > ul').removeClass('focus2 focus3 focus4 focus5');
			}
			var focus = "focus" + item;
			$('.carousel > ul').addClass(focus);
		}

		window.setInterval(loop, delay);
	</script>

</body>
</html>
