<!DOCTYPE html>
<html>
<head>
  <title>Doggystyle</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="sign-up">

  <nav class="sign-up-nav">
    <%= link_to "Sign In", new_session_url %>
  </nav>

  <section class="sign-up-content">
    <%= yield %>
  </section>
</div>

<footer class="sign-up-footer">
  <div>
    <p>"The Google of doggy dating" - New York Times</p>
  </div>
  <ul>
    <li>About</li>
    <li>Legal</li>
    <li>Copyright</li>
  </ul>
</footer>

</body>
</html>

